* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Peralta", cursive;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, #fdb813, #ff7733, #ff1e34);
	color: #4a1406;
}

.title,
p {
	color: #4a1406;
}

.footerOwn {
	background-color: #c76e21;
	width: 100%;
	min-height: 150px;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerOwn ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.footerOwn ul li {
	color: #ffff;
	margin: 15px;
}
