* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Peralta", cursive;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, #fdb813, #ff7733, #ff1e34);
}

.footerOwn {
	background-color: #4a1406;
	width: 100%;
	min-height: 150px;
	padding: 25px;
}
