.containerHome {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;
}

.containerHome div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#containerWave {
	width: 100%;
	height: 250px;
}

#waves {
	position: absolute;
	z-index: 20;
}
#waves2 {
	position: absolute;
	z-index: 20;
}

.scrolling-text-container {
	width: 100%;
	overflow: hidden;
	margin-top: 100px;
	position: absolute;
	bottom: 250px;
}

.scrolling-text {
	display: inline-block;
	width: 100%;
	letter-spacing: 2px;
	font-size: 1.7em;
	width: max-content;
	overflow: hidden;
	white-space: nowrap;
}

.waves {
	width: 100%;
	position: relative;
	background-color: #3586ff;
	position: absolute;
	bottom: 0;
}

.waves .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background-size: 1200px 100px;
}

.waves .wave#wave1 {
	background: url(wave.png);
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWave 3s linear infinite alternate-reverse;
}
.waves .wave#wave2 {
	background: url(wave2.png);
	z-index: 990;
	opacity: 0.3;
	bottom: 10px;
	animation: animateWave_02 2.2s linear infinite alternate-reverse;
}

.waves .wave#wave3 {
	background: url(wave3.png);
	z-index: 999;
	opacity: 1;
	bottom: 0px;
	animation: animateWave 2.2s linear infinite alternate-reverse;
}

.waves .wave#wave4 {
	background: url(wave4.png);
	z-index: 1010;
	opacity: 0.6;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite alternate-reverse;
}

@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}
	100% {
		background-position-x: 0px;
	}
}

@keyframes animateWave_02 {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 1000px;
	}
}

canvas {
	height: 260px !important;
}

@media all and (max-height: 1000px) {
	#Hometitle {
		position: absolute;
		bottom: 400px;
	}
}

@media all and (max-height: 700px) {
	#Hometitle {
		position: absolute;
		bottom: 300px;
	}
	.scrolling-text-container {
		bottom: 150px;
	}
}

@media all and (max-height: 580px) {
	#Hometitle {
		position: absolute;
		bottom: 180px;
	}
	.scrolling-text-container {
		bottom: 120px;
	}
}
