.containerHome {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;
	background-image: url("./img1.png");
	background-position: 0 480px;
	background-size: contain;
	background-repeat: no-repeat;
}

#containerWave {
	width: 100%;
	height: 200px;
}

#waves {
	position: absolute;
	z-index: 20;
}
#waves2 {
	position: absolute;
	z-index: 20;
}

canvas {
	height: 260px !important;
}
