.containerPresentation {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.containerPresentation img {
	width: fit-content;
	height: fit-content;
}

.containerMusic {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.half {
	width: 50%;
	height: 100%;
}

.contentOwn {
	background-color: black;
}
.music {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.music iframe {
	margin: 10px;
	border: none;
}
